.about-1 {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-2 {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

    @media (min-width: 900px) {
.about {
    margin-top: 110px;
}}
.about {
    padding-top: 110px;
}
.about-row {
    display: flex;
    flex-direction: row;
}

#about-text {
    font-size: 26px;
    text-align: center;
    color: #97999B;
}
#about-title {
    color: #10D397;
}
#about-text span {
    color: #10D397;

}