.about-1 {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 60px;
}
.about-2 {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#img-about {
    width: 100%;
    border-radius: 30%;
}

 
.about {
    
    height: 100vh; 
}
.about-cont {
    display: flex;
    flex-direction: row;
}

#about-text {
    padding-top: 50px;
    font-size: 26px;
    text-align: center;
    color: #97999B;
}
#about-title {
    color: #10D397;
}
#about-text span {
        color: #10D397;

}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .about-cont {
        display: flex;
        flex-direction: column-reverse;
    }
    .about-1 {
        width: 100%;
        height: 50%;
        margin-left: 0px !important;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 20px;
    }
    .about-2 {
        width: 100%;
        height: 50%;
        padding-top: 40px;
    }
    #img-about {

        width: 100% ;
        
    }
    #about-text {
        font-size: 20px;
        
    }
  }
  @media screen and (min-device-width: 768px) and (max-device-width: 1024px) { 
    .about-cont {
        display: flex;
        flex-direction: column;
    }
    .about-1 {
        width: 100%;
        height: 50%;
    }
    .about-2 {
        width: 100%;
        height: 50%;
        padding-top: 40px;
    }
    #about-text {
        font-size: 38px;
        
    }
    #about-title {
        font-size: 50px;
    }
  }