#calendar-text span {
    color: #10D397;
}

.calendar {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.box-cont-text {
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    
}
.box-cont-text-bot {
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    
}
.box-cont-img {
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.box-cont-img-bot {
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: row;
    
}

 
.box {
    display: flex;
    
}
#beat-img {
    width: 100%;
}
.box-text {
    width: 270px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #97999B;
    font-size: 20px;
}
.box-text-with {
    width: 270px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #97999B;
    font-size: 20px;
    border: solid;
    border-color: #10D397;
    border-radius: 20%;
}
#calendar-text {
    text-align: center;
}
@media only screen and (max-width: 768px) {
    #calendar-text {
        font-size: 8px;
    }
    .box-cont-img-bot {
        height: 10%;
    }
    .box-cont-img {
        height: 10%;
    }
    .calendar {
        justify-content: center;
    }
}
@media screen and (min-device-width: 768px) and (max-device-width: 1024px) { 
     #calendar-text {
        font-size: 13px;
    }
    .box-cont-img-bot {
        height: 10%;
    }
    .box-cont-img {
        height: 10%;
    }
    .calendar {
        justify-content: center;
    }
    .box-text-with {
        height: 70%;
    }
}