#home-title {
    color: #97999B;
    font-size: 52px;
}
.home-1 {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.home-2 {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 900px) {
    .home {
        margin-top: 110px;
        height: 100vh;
    }
}

#home-title span {
    color: #10D397;
}
.home-row {
    display: flex;
    flex-direction: row;
}
.home {
    height: 100vh;
}

